<html>
    <body>
        <main>
            <section>
                <%- include("partials/errors.ejs", { errors || [] }) %>
            </section>

            <section>
                <form action="/messages/new" method="POST">
                    <label>
                        Title:
                        <input type="text" name="title" value="<%= message?.title || "" %>" required>
                    </label>
                    <label>
                        Text:
                        <input type="text" name="text" value="<%= message?.text || "" %>" required>
                    </label>

                    <button type="submit">Post Message</button>
                </form>
            </section>
        </main>
    </body>
</html>